extends layout

block content
  h1 Welcome to Movie Database
  if userId
    p.lead You are logged in! Start exploring movies or add your own.
    .home-links
      a(href="/movies/add") Add New Movie
      a(href="/movies/") Browse All Movies
  else
    p.lead Discover and share your favorite movies!
    .home-links
      a(href="/login") Login
      a(href="/register") Register
      a(href="/movies/") Browse Movies