doctype html
html
  head
    title Movie App
  body
    h1 Project By Owen Imudia, Aareez Khan and Jerome Mingala
    |
    nav
      a(href="/") Home
      |  |  
      if !userId
        a(href="/register") Register
        |  |  
        a(href="/login") Login
      else
        a(href="/movies/add") Add Movie
        |  |  
        a(href="/logout") Logout
    hr
    block content
