extends layout

block content
  h1 Login

  if success
    .success-box= success

  if error
    .error-box= error

  form(action="/login" method="POST")
    label Username:
    input(type="text" name="username")

    label Password:
    input(type="password" name="password")

    button(type="submit") Login