extends layout

block content
  h1 Register

  if errors
    .error-box
      ul
        each err in errors
          li= err

  form(action="/register" method="POST")
    label Username:
    input(type="text" name="username")

    label Password:
    input(type="password" name="password")

    label Confirm Password:
    input(type="password" name="password2")

    button(type="submit") Register